* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
p,b,a, h2, h6, h4, button{
    font-family: sans-serif;
}
.container {
    margin-inline: 100px;
}
.header-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
}
.links {
    display: flex;
    gap: 40px;
    a {
        color: black;
        text-decoration: none;
    }
    a:hover {
        color: #527C88;
        border-bottom: 3px solid #1BA9B5;

    }
}

.menu-icon {
    display: none;
    flex-direction: column;
}
.menu-type {
    display: flex;
    flex-direction: column;
    gap: 5px;
    .line {
        background-color: #10217D;
        width: 25px;
        height: 3px;
    }
}
.menu-logo {
    display: flex;
    align-items: center;
    gap: 10px;
}
.consult {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    color: #10217D;
    button {
        color: white;
        font-weight: bold;
        font-size: 14px;
        background-color: #10217D;
        width: 120px;
        height: 40px;
        border-radius: 30px;
        border: #10217D;
    }
}

.hero-class {
    background: url(imgs/Rectangle\ 15.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.centered-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 60px;
    background-color: white;
    box-shadow: 5px 5px 70px rgb(126, 125, 125);
    border-radius: 20px;
}
.form-sections {
    display: flex;
    justify-content: space-between;
    gap: 175px;
    .text {
        width: 333px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px 0;
        gap: 4px;
    }
    .text:hover {
        border-bottom: 3px solid #1BA9B5;

    }
    p {
        color: #10217D;
        font-weight: 400;
    }
    h3 {
        color: #10217D;
    }
}
.selection {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 40px 0;
    .reason {
        border: 1px solid #DBDDE0;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 48px;
        width: 225px;
        border: 1px solid #DBDDE0;
    }
    button {
        height: 48px;
        width: 225px;
        color: white;
        font-weight: bold;
        font-size: 16px;
        background-color: #1BA9B5;
        border: 1px #1BA9B5;

    }
}

/* Responsive design */

@media (max-width: 1190px) {
    .menu-icon {
        display: flex;
    }
    .links {
        display: none;
    }
}
@media (max-width: 1386px) {
    .form-sections {
        flex-direction: column;
        gap: 10px;
        width: auto;
    }
    .selection {
        flex-direction: column;
        gap: 10px;
    }
    .hero-class {
        height: 90vh;
    }
}

@media (max-width: 720px) {
    .container {
        margin-inline: 20px;
    }
    .form-sections {
        gap: 20px;
    }
    .selection {
        flex-direction: column;
        gap: 10px;
    }
    .header-section {
        flex-direction: column;
        gap: 20px;
    }
}
@media (max-width: 370px) {
    .consult {
        flex-direction: column;
        gap: 10px;
    }
    .form-sections .text {
        width: 200px;
    }
}

/* Top-rated */
.top-rated-section {
    margin: 60px 0;
}
.rated-text-cards {
    display: flex;
    flex-direction: column;
    gap: 32px;
    .text h2 {
        color:#10217D
    }
    .cards {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 20px;
    }
}

.doctor-card {
    border: 1px solid #DBDDE0;
    border-radius: 8px;
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: center;
    width: 190px;
    height: 328px;
}
.doctor-card .card-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    gap: 20px;
    .doctor-image img {
        width: 170px;
        height: 159px;

    }
    .description {
        display: flex;
        flex-direction: column;
        gap: 4px;
        p {
            color: #6C87AE;
            font-size: 14px;
            font-weight: 400;
        }
    }
    button {
        width: 170px;
        height: 44px;
        background-color: white;
        color: #10217D;
        font-weight: 400;
        font-size: 16px;
        border: 1px solid #10217D;
        border-radius: 4px;
    }
}

/* Consult-for-section */

.consult-text-cards {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 60px 0;
    h2 {
        color: #10217D;
        font-size: 30px;
        font-weight: bold;
    }
}
.consult-cards {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}


.consult-cards .part-card {
    width: 190px;
    height: 88px;
    background-color: #1ba8b553;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border-radius: 8px;
    h6 {
        color: #527C88;
        font-weight: 400;
        font-size: 14px;
    }
}


/* Shop-section */

.shop-section {
    background: url(imgs/purple-bcg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.shop-text-imgs {
    background-color: #FFFFFF;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 60px 100px;
    .text {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        h2 {
            color:#10217D;
            font-size: 30px;
            font-weight: bold;
            text-align: center;
        }
        p {
            color:#10217D;
            font-size: 14px;
            font-weight: 300;
            max-width: 480px;
            text-align: center;
        }
    }
    .imgs {
        display: flex;
        justify-content: center;
        gap: 20px;
        .img {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 20px;
            h6 {
                color:#527C88;
                font-size: 14px;
                font-weight: 500;
            }
        }
    }
}

/* Healthcare-programs-section */

.healthcare-programs-section {
    margin: 120px 0 76px 0;
}
.healthcare-programs {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.healthcare-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    h2 {
        color: #10217D;
        font-size: 30px;
        font-weight: bold;
    }
    p {
        max-width: 565px;
        line-height: 24px;
        color: #6C87AE;
        font-size: 16px;
        font-weight: 400;
        text-align: center;
    }
}

.healthcare-cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}
.program {
    border: 1px solid #DBDDE0;
    border-radius: 8px;
    max-width: 370px;
    display: flex;
    flex-direction: column;
}
.program-container {
    display: flex;
    flex-direction: column;
    margin: 32px;
    gap: 24px;
    .program-text {
        display:flex;
        flex-direction: column;
        gap: 12px;
        p {
            color: #6C87AE;
            line-height: 20px;
            font-size: 14px;
            font-weight: 400;
        }
        h4 {
            font-weight: 500;
        }
    }
    .book-now {
        display: flex;
        justify-content: space-between;
        align-items: center;
        button {
            width: 144px;
            height: 40px;
            background-color: #FFFFFF;
            color: #10217D;
            font-weight: 400;
            font-size: 16px;
            border: 1px solid #10217D;
            border-radius: 4px;
        }
    }
}

/* Feedback-section */

.patients-feedback {
    display: flex;
    flex-direction: column;
    gap: 100px;
}
.feedback-header h2 {
    color: #10217D;
    font-size: 30px;
    font-weight: bold;

}
.feedback-main {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .feedback-text {
        display: flex;
        flex-direction: column;
        gap: 130px;
        p {
            max-width: 539px;
            line-height: 40px;
            font-size: 25px;
            font-weight: 200; 
            padding-right: 73px;
        }
        .autor {
            p {
                color: #696969;
                font-size: 14px;
                font-weight: bold;
            }
        }
    }
}
.rectangle img {
    position: absolute;
    right: 150px;
    z-index: 0;
    

}

/* Footer-section */

footer {
    margin: 100px 0 80px 0;
}

.footer-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 150px;


}

.logo-part {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 12px;
    max-width: 424px;
    p {
        font-size: 14px;
        line-height: 20px;
        font-weight: 200;
    }
}
.overview {
    display: flex;
    gap: 70px;
    .each-part {
        display: flex;
        flex-direction: column;
        gap: 12px;
        h4 {
            color: #527C88;
            font-weight: bold;
            font-size: 20px;
            line-height: 28px;
        }
        a {
            text-decoration: none;
            color: #000000;
            font-size: 14px;
            font-weight: 400;
        }
    }
    .social-media {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 12px;
        h4 {
            color: #527C88;
            font-weight: bold;
            font-size: 20px;
            line-height: 28px;
        }
    }
}
