* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
p,b,a, h2 {
    font-family: sans-serif;
}
.container {
    margin-inline: 100px;
}
.header-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
}
.links {
    display: flex;
    gap: 40px;
    a {
        color: black;
        text-decoration: none;
    }
    a:hover {
        color: #527C88;
        border-bottom: 3px solid #1BA9B5;

    }
}

.menu-icon {
    display: none;
    flex-direction: column;
}
.menu-type {
    display: flex;
    flex-direction: column;
    gap: 5px;
    .line {
        background-color: #10217D;
        width: 25px;
        height: 3px;
    }
}
.consult {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    color: #10217D;
    button {
        color: white;
        font-weight: bold;
        font-size: 14px;
        background-color: #10217D;
        width: 120px;
        height: 40px;
        border-radius: 30px;
        border: #10217D;
    }
}

.hero-class {
    background: url(imgs/Rectangle\ 15.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.centered-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 60px;
    background-color: white;
    box-shadow: 5px 5px 70px rgb(126, 125, 125);
    border-radius: 20px;
}
.form-sections {
    display: flex;
    justify-content: space-between;
    gap: 175px;
    .text {
        width: 333px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px 0;
        gap: 4px;
    }
    .text:hover {
        border-bottom: 3px solid #1BA9B5;

    }
    p {
        color: #10217D;
        font-weight: 400;
    }
    h3 {
        color: #10217D;
    }
}
.selection {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 40px 0;
    .reason {
        border: 1px solid #DBDDE0;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 48px;
        width: 225px;
        border: 1px solid #DBDDE0;
    }
    button {
        height: 48px;
        width: 225px;
        color: white;
        font-weight: bold;
        font-size: 16px;
        background-color: #1BA9B5;
        border: 1px #1BA9B5;

    }
}

/* Responsive design */

@media (max-width: 1190px) {
    .menu-icon {
        display: flex;
    }
    .links {
        display: none;
    }
}
@media (max-width: 1386px) {
    .form-sections {
        flex-direction: column;
        gap: 10px;
        width: auto;
    }
    .hero-class {
        height: 90vh;
    }
}

/* Top-rated */

.rated-text-cards {
    display: flex;
    flex-direction: column;
    gap: 32px;
    .cards {
        display: flex;
        gap: 20px;
    }
}

.doctor-card {
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: 1px solid #DBDDE0;
    .doctor-image img {
        width: 100%;
        height: 100%;
    }
    .description {
        display: flex;
        flex-direction: column;
        gap: 4px;
    }
}
