* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: #0F1528;
    background: linear-gradient(90deg,rgba(15, 21, 40, 1) 0%, rgba(17, 26, 63, 1) 50%, rgba(19, 31, 88, 1) 100%);
}

h1,h3,h4,p,a,button,span,li {
    font-family: "Inter", sans-serif;
}
.container {
    margin: 0 131px;
}

/* Header Section */

.first-header {
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-height: 40px;
    margin: 30px 0;
}
.contact-us {
    display: flex;
    flex-direction: row;
    gap: 51px;
    .email {
        display: flex;
        align-items: center;
        gap: 10px;
    }
    .number {
        display: flex;
        align-items: center;
        gap: 10px;
    }
}
.support-help {
    display: flex;
    flex-direction: row;
    gap: 51px;
    .support {
        display: flex;
        align-items: center;
        gap: 10px;
    }
    .help {
        display: flex;
        align-items: center;
        gap: 10px;
    }
}

.second-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #283156;
    padding: 17px 25px;
    border-radius: 5px;
}
.top {
    display: flex;
    align-items: center;
    gap: 20px;
    img {
        width: 150px;
        height: auto;
    }
}
.navigation {
    display: flex;
    gap: 31px;
    align-items: center;
    a {
        color: white;
        text-decoration: none;
    }
}

.menu-icon {
    display: none;
    .menu-icon-label {
        display: flex;
        flex-direction: column;
        gap: 5px;
        cursor: pointer;
        span {
            width: 25px;
            height: 3px;
            background-color: white;
            border-radius: 2px;
            transition: all 0.3s ease;
        }
    }
    input[type="checkbox"] {
        display: none;
    }
}
.login-sign {
    display: flex;
    align-items: center;
    gap: 20px;
    button {
        background-color: #CF088C;
        color: white;
        height: 40px;
        width: 90px;
        border: #CF088C;
        border-radius: 20px;
        font-size: 16px;
    }
}

/* Hero Section */

.image-text {
    display: flex;
    justify-content: space-between;
    gap: 100px;
    margin: 56px 0;
}
.hero-text {
    position: relative;
    max-width: 804px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    h1 {
        color:white;
        font-size: 40px;
    }
    p {
        color: white;
        font-size: 18px;
    }
    .decore {
        max-width: auto;
        height: 100%;
        img {
            position: absolute;
            width: 80px;
            height: 80px;
            top: 230px;
            right: 90px;
            overflow: cover;
        }
    }
}
.div-button {
    display: flex;
    gap: 15px;;
    .try {
        width:188px;
        height: 48px;
        border-radius: 25px;
        background-color: #CF088C;
        color: white;
        border-color: #CF088C;
        font-size: 16px;
    }
    .choose {
        width:188px;
        height: 48px;
        border-radius: 25px;
        background-color:#10162C;
        border-color: white;
        color: white;
        font-size: 16px;
    }
}

.hero-image {
    display: flex;
    align-items: center;
    max-width: auto;
    height: 100%;
    img {
        width: 100%;
        height: 100%;
        overflow: cover;
    }
}

/* Responsive Design */

@media (max-width: 1363px) {
    .container {
        margin: 0 20px;
    }
}
@media (max-width: 1200px) {
    .container {
        margin: 0 20px;
    }
    .menu-icon {
        display: block;
    }
    .navigation {
        display: none;
    }
    .decore {
        img {
            z-index: -1;
        }
    }

}
@media (max-width: 768px) {
    .image-text {
        flex-direction: column;
        align-items: center;
    }
    .hero-text {
        max-width: 100%;
        text-align: center;
        .decore {
            display: none;
        }
    }
    .div-button {
        justify-content: center;
    }
    .first-header {
        justify-content: flex-start;
        gap: 10px;
    }
    .contact-us {
        gap: 10px;
    }
    .support-help {
        gap: 10px;
    }
}
@media (max-width: 600px) {
    .first-header {
        flex-direction: column;
        margin: 40px 0 ;
    }
    .second-header {
        flex-direction: column;
        gap: 20px;
    }
    .login-sign {
        gap:15px;
    }
}
/*Offer Section */

.offers-section {
    background: #282D3E;
    background: linear-gradient(90deg, rgba(40, 45, 62, 1) 0%, rgba(41, 49, 80, 1) 50%, rgba(43, 55, 106, 1) 100%);
}

.text-input {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.offer-text {
    margin: 50px 0;
    display: flex;
    flex-direction: column;
    color: white;
    gap: 10px;
    max-width: 510px;
    h3 {
        font-size: 30px;
    }
    p {
        font-size: 18px;
    }
}
.input-domain {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 20px;
    p {
        color: white;
        font-size: 16px;
    }
}
.form-button {
    display:flex;
    align-items: center;
    justify-content: space-between;
    gap:20px;
    background-color: white;
    max-width: 420px;
    height: 50px;
    border-radius: 50px;
    input {
        border: none;
        border-radius: 50px;
        width: 200px;
        height: 30px;
        display: flex;
        padding-left: 10px;
    }
    select {
        border: none;
        width: 80px;
        height: 30px;
    }
    button {
        background-color: #CF088C;
        color: white;
        width: 130px;
        height: 38px;
        border: none;
        border-radius: 50px;
        margin-right: 10px;
    }
}

.select-info {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
    .com {
        display: flex;
        flex-direction: column;
        gap: 5px;
        span {
            color: rgb(188, 187, 187);
            font-size: 14px;
            font-weight: 10;
        }
    }   
}

@media (max-width: 720px) {
    .text-input {
        flex-direction: column;
        gap: 10px;
    }
}
@media (max-width: 480px) {
    .form-button {
        flex-direction: column;
        height: auto;
        width: 100%;
        padding: 10px 0;
        border-radius: 20px;
    }
    .select-info {
        gap: 10px;
    }
}

/* Join-section */

.get-services {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 60px;
    margin: 100px 0;
}

.header-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    h3 {
        color:white;
        font-size: 30px;
        font-weight: 600;
    }
    p {
        color: rgb(207, 204, 204);
        font-size: 18px;
        font-weight: 10;
    }
}
.services {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 140px;
    .each-service {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
        .service-text {
            text-align: center;
            p {
                font-size: 18px;
                font-weight: 400;
                color: white;
            }
            span {
                font-size: 14px;
                font-weight: 200;
                color: rgb(188, 187, 187);
            }
        }
    }
}

/* Pricing-section */

.pricing-plans {
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    gap:60px;  
}

.pricing-text {
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    .text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 15px;
        p {
            color: white;
            font-size: 30px;
            font-weight: 600;
        }
        span {
            color: rgb(207, 204, 204);
            font-size: 18px;
            font-weight: 200;
        }
    }
    .button-select {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
        width: 248px;
        height: 60px;
        border-radius: 50px;
        button {
            width: 119px;
            height: 50px;
            border: none;
            border-radius: 25px;
        }
        .monthly {
            background-color: #CF088C;
            color: white;
        }
        .yearly {
            background-color: white;
            color: black;
        }
    }
}

.pricing-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 46px;
    .card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 32px;
        padding: 40px 30px;
        .price {
            display: flex;
            align-items: center;
            gap: 50px;
            .currency {
                display: flex;
                align-items: center;
                gap: 2px;
                p {
                    color: white;
                    font-size: 28px;
                    font-weight: 400;
                }
                
            }
            .save-price {
                display: flex;
                flex-direction: column;
                justify-content: center;
                gap: 1px;
                img {
                    width: 35px;
                    height: 35px;
                }
                span {
                    font-size: 14px;
                    font-weight: 500;
                }
            }
        }
        .card-title {
            color: rgb(163, 161, 161);
            font-size: 22px;
        }
        p {
            color: white;
            font-size: 18px;
            font-weight: 200;
            line-height: 26px;
        }

        ul {
            display: flex;
            flex-direction: column;
            gap: 15px;
            li {
                display: flex;
                align-items: center;
                gap: 10px;
                color: rgb(251, 250, 250);
                font-size: 16px;
                list-style: none;
            }
        }
    }
}

.pricing-cards > :first-child, .pricing-cards > :last-child {
    background-color: transparent;
    border-radius: 30px;
    border: 1px solid rgb(148, 146, 146);
    button {
        cursor: pointer;
        align-self: center;
        background: linear-gradient(
            200deg,
            #D4088C 0%,
            #CC088C 4%,
            #85078A 46%,
            #590689 76%,
            #480689 91%
        );
        width:248px;
        height: 60px;
        border-radius: 50px;
        border: none;
        color: white;
        font-size: 18px;
    }
    .save-price span {
        color: #D4088C;
    }
}

.second-card {
    background: linear-gradient(
            260deg,
            #D4088C 0%,
            #CC088C 4%,
            #85078A 46%,
            #590689 76%,
            #480689 91%
        );
    border-radius: 30px;
    button {
        cursor: pointer;
        align-self: center;
        background: linear-gradient(
            180deg,
            #6EE8FC 0%,
            #6AE2FB 16%,
            #5ED1F7 37%,
            #4BB5F1 61%,
            #308EE8 87%
        );
        width:248px;
        height: 60px;
        border-radius: 50px;
        border: none;
        color: white;
        font-size: 18px;
    }
    .save-price span {
        color: #6EE8FC;
    }
}

@media (max-width: 1073px) {
    .pricing-cards {
        flex-direction: column;
        gap: 30px;
    }
}

/* Why-choose-section */

.why-choose {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 100px;
    margin: 100px 0;
}

.why-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    h3 {
        color: white;
        font-size: 30px;
        font-weight: 600;
    }
    p {
        color: rgb(207, 204, 204);
        max-width: 979px;
        text-align: center;
    }
}

.reason-cards {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 50px;
    .card {
        position: relative;
        background: linear-gradient(
            260deg,
            #D4088C 0%,
            #CC088C 4%,
            #85078A 46%,
            #590689 76%,
            #480689 91%
        );
        display: flex;
        flex-direction: column;
        padding: 60px 35px;
        gap: 15px;
        max-width: 430px;
        height: 240px;
        border-radius: 20px;
        h4 {
            color: white;
            font-size: 24px;
            font-weight: 550;
        }
        p {
            color: white;
            line-height: 22px;
            font-size: 16px;
            font-weight: 200;
        }
    }
    .image-icon {
        position: absolute;
        top: -30px;
        left: 35px;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
}

/* Migration section */

.migration-issue {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 60px;

}
.issue-text-header {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 15px;
    h3 {
        color: white;
        font-size: 30px;
        font-weight: 600;
    }
    p {
        color: rgb(207, 204, 204);
        font-size: 18px;
        font-weight: 200;
    }
}
.main-part {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .text {
        display: flex;
        flex-direction: column;
        gap: 10px;
        max-width: 556px;
        h4 {
            color: white;
            font-size: 32px;
            font-weight: 500;
        }
        p {
            color: white;
            font-size: 16px;
            line-height: 22px;
            font-weight: 20;
        }
        
    }
}

.text-button {
    display : flex;
    flex-direction: column;
    gap: 35px;
    button {
        width: 192px;
        height: 59px;
        border-radius: 50px;
        background: linear-gradient(
            260deg,
            #D4088C 0%,
            #CC088C 4%,
            #85078A 46%,
            #590689 76%,
            #480689 91%
        );
        border: none;
        color: white;
        font-size: 18px;
    }
}

.migration-image {
    max-width: auto;
    height: 100%;
    img {
        width: 100%;
        height: 100%;
        overflow: cover;
    }
}

/* Clients Section */

.comments {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 80px;
    margin: 100px 0;
}

.clients-header-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    h3 {
        color: white;
        font-size: 30px;
        font-weight: 600;
    }
    p {
        color: rgb(207, 204, 204);
        font-size: 18px;
        font-weight: 200;
    }
}

.comments-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
    .comment-card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        .text {
            max-width: 400px;
            border: 1px solid rgb(148, 146, 146);
            padding: 34px 17px;
            border-radius: 20px;
            p {
                color: white;
                font-size: 16px;
                font-weight: 200;
                line-height: 22px;
            }
        }
        p {
            color: rgb(185, 184, 184);
            font-size: 18px;
            font-weight: 500;
        }
    }
}

/* Hosting Section */

.hosting-add-ons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 60px;
    margin: 100px 0;
}

.header-hosting-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    h3 {
        color: white;
        font-size: 30px;
        font-weight: 600;
    }
    p {
        color: rgb(207, 204, 204);
        font-size: 18px;
        font-weight: 200;
    }
}

.hosting-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 45px;
    .card {
        max-width: 425px;
        background: linear-gradient(
            220deg,
            #D4088C 0%,
            #CC088C 4%,
            #85078A 46%,
            #590689 76%,
            #480689 91%
        );
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
        padding: 45px 30px;
        border-radius: 30px;
        .currency {
            display: flex;
            align-items: center;
            gap: 2px;
            p {
                color: white;
                font-size: 28px;
                font-weight: 400;
            }
        }
        h4 {
            color: white;
            font-size: 22px;
        }
        p {
            color: white;
            font-size: 16px;
            font-weight: 200;
            line-height: 26px;
            text-align: center; 
        }
    }
    
}
.card-button {
    position : relative;
    button {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: -25px;
        cursor: pointer;
        background: linear-gradient(
            180deg,
            #6EE8FC 0%,
            #6AE2FB 16%,
            #5ED1F7 37%,
            #4BB5F1 61%,
            #308EE8 87%
        );
        width:180px;
        height: 50px;
        border-radius: 25px;
        border: none;
        color: white;
        font-size: 16px;
    }
}

/* live section */

.live-website {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    gap: 50px;
    margin: 100px 0;
    h4 {
        color: white;
        font-size: 22px;
        font-weight: 600;
    }
    button {
        cursor: pointer;
        background: linear-gradient(
            180deg,
            #6EE8FC 0%,
            #6AE2FB 16%,
            #5ED1F7 37%,
            #4BB5F1 61%,
            #308EE8 87%
        );
        width:188px;
        height: 48px;
        border-radius: 25px;
        border: none;
        color: white;
        font-size: 16px;
    }
}

.live-header-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    h3 {
        color: white;
        font-size: 30px;
        font-weight: 600;
    }
    p {
        color: rgb(207, 204, 204);
        font-size: 18px;
        font-weight: 200;
        text-align: center;
        max-width: 969px;
    }
}
.live-image {
    max-width: auto;
    height: 100%;
    img {
        width: 100%;
        height: 100%;
        overflow: cover;
    }
}

/* subscribe section */

.subscribe-section {
    background: #2A345E;
    background: linear-gradient(90deg, rgba(42, 52, 94, 1) 0%, rgba(39, 46, 92, 1) 49%, rgba(30, 35, 54, 1) 100%);
}

.form-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 77px 0;
    .text {
        display: flex;
        flex-direction: column;
        gap: 15px;
        h3 {
            color: white;
            font-size: 28px;
            font-weight: 600;
        }
        p {
            color: white;
            font-size: 18px;
            font-weight: 200;
            max-width: 500px;
        }
    }
    .subscribe-form {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: white;
        max-width: 400px;
        height: 60px;
        padding-inline: 20px;
        border-radius: 50px;
        input {
            width: 220px;
            border: none;
            background-color: white;
        }
        button {
            justify-self: flex-end;
            background-color: #CF088C;
            color: white;
            width: 141px;
            height: 50px;
            border: none;
            border-radius: 50px;
        }
    }
}

@media (max-width: 520px) {
    .form-text {
        flex-direction: column;
        gap: 20px;
    }
    .subscribe-form {
        flex-direction: column;
        height: 200px;
        border-radius: 20px;
        gap: 20px;
        input {
            width: 100%;
            height: auto;
        }
        button {
            flex-direction: column;
            height: auto;
            width: 100%;
            padding: 10px 0;
            border-radius: 20px;
        }
}
}

/* Footer Section */

footer {
    background-color: #03091D;
}

.all-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px 0;
    .logo {
        display: flex;
        flex-direction: column;
        gap: 20px;
        img {
            width: 150px;
            height: auto;
        }
        p {
            color: white;
            font-size: 16px;
            line-height: 24px;
            font-weight: 200;
            max-width: 296px;
        }
    }
 
    .information {
        display: flex;
        flex-direction: column;
        gap: 15px;
        p {
            color: white;
            font-size: 17px;
            font-weight: 500;
        }
        ul {
            display: flex;
            flex-direction: column;
            gap: 5px;
        }
        li {
            list-style: none;
            color: white;
            font-size: 16px;
            font-weight: 200;
            line-height: 24px;
        }

    }
}

@media (max-width: 768px) {
    footer .all-info {
        flex-direction: column;
        gap: 50px;
    }
}