nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 2rem;
    text-decoration: none;
}
.flex-container ul {
    display: flex;
    flex-direction: column;
    color: rgb(100, 23, 23);
    font-size: 40px;
    justify-content: space-between;
    gap: 20px;
}
.flex-container a{
    text-decoration: none;
    color: black;
    font-size: 40px;
}