* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container {
    max-width: 1760px;
    margin: 0 auto;
}
/* Header */

.header-section {
    background-color: #CFD2C6;
}
.header-section .header {
    border: 1px solid red;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0;
    h1 {
        font-family: "Elsie";
        font-size: 32px;
        color: #36392D;
    }
    a {
        text-decoration: none;
        color: #36392D;
        font-family: "Roboto", sans-serif;
    }
    .language-settings {
        border: 1px solid blue;
        text-decoration: underline;
    }
    .header-left {
        border: 1px solid green;
        display: flex;
        align-items: center;
        gap: 40px;
    }
    .header-right {
        border: 1px solid yellow;
        display: flex;
        gap: 40px;
    }
    .nav-items {
        border: 1px solid black;
        display: flex;
        gap: 40px;
    }
}
.menu-icon {
    width: 40px;
    height: 40px;
}
 /*Menu*/
.menu-section {
    background-color: #CFD2C6;
    padding: 80px 0;
} 
.menu-texts {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}
.text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    max-width: 570px;
    p {
        text-align: center;
        line-height: 26px;
    }
    h1 {
        font-weight: bold;
        font-size: 64px;
        color: #36392D;
    }
}
.boxes {
    display: flex;
    justify-content: space-between;
    gap:38px;
    button {
        background-color: #CFD2C6;
        border: 1px solid #9FA68C;
        width: 158px;
        height: 48px;
        border-radius: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }
    button:hover {
        background-color: #9FA68C;
        color: white;
    }

}
.cards {
    display: flex;
    justify-content: center;
    gap: 40px;
    .card {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: #36392D;
        gap: 16px;
    }
    h4 {
        font-weight: bold;
        font-size: 20px;
    }
}

